%html 
%head 
  %title Draft
  %link{ href: "http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css", rel: "stylesheet" }
  %script{ src: "http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js" }
  %script{ src: "http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js" }

%body 
  UNIVERSAL BASIC INCOME

  %p This Swiss Parliament is considering giving $2,800 per month to every Swiss citizen.  With absolutely no conditions.  Yes, that's free money for every man, woman and child.  Well, not children, you have to be 18.

  %p ---Uh huh.  Sure buddy.  And who's paying for that?

  %p As it turns out, when you give everyone enough money to not be poor, some interesting things happen.
  1) You don't need to pay for welfare.
  2) You don't need to pay unemployment insurance.
  3) You don't need to give people food stamps.
  4) You don't need to pay for the beaureacracy that is needed to administer the above benefits and prevent fraud.  All the money goes to checks in the mail.
  Sound like a lot of money?  It is.  Nearly enough, today, for everyone in the US to be paid around $7k a year, just for being alive.

  %p ---OK. So where's the rest of the money come from?

  %p Deductions and tax credits for middle and upper class folks that don't need the deductions and credits anymore.

  %p ---So all we have to do is completely replace our tax and welfare system with communism?  HAHAHA.  That will NEVER happen. And I'm not even convinced this is a good idea.  Why should we give rich people all that money?

  %p Well, they rich will still be paying more in taxes then they receive from the UBI.
  It's not communism, ya goof, **everything still runs on capitalism and we'd still have social classes.
  Not convinced it's a good idea?  The UBI basically eliminates poverty.  Set aside your doubts about paying for it and think of the benefits for a second.  With a mincome, you could put a huge dent in the rates of violence, murders, suicides, mental illness. It's estimated that **40% of crimes are desperation-related.  Think about how much less you'd need to spend on combating crime and substance abuse and how much better off we'd be as a society.
  And what about YOU?  Are you stuck in a job you don't like? With a UBI, you have the ability to quit. Want to move to a different city, but not sure if you'd be able to move and find a job quickly enough to pay all your bills?  It'd be nice to have a guaranteed check every two weeks so you can get by while you look, wouldn't it?

  %p ---So what's going to stop people from sitting on their ass all day?

  %p Nothing. Some people will choose to live in poverty. And they'd be free to do so.
  But others would take the opportunity to teach themselves skills or go back to school.  People trapped in desperate situations would suddenly have the ability to quit their shitty jobs and make a better life for themselves.  One of the best ways to get homeless people off the street, as it turns out, is just to give them money: http://www.economist.com/node/17420321?fsrc=scn/rd_ec/cutting_out_the_middle_men.  A city in Canada tried this for 5 years and voluntary unemployment was effectively unchanged: **, except for two demographics: **homemakers who wanted to spend more time at home raising their kids, and young mothers.

  %p ---Too good to be true.  What about inflation?  

  %p I wondered about this too: if everyone has $2,800 extra dollars a month, doesn't money become less valuable?  The answer is not really. If you increase the amount of currency floating around then sure, you'll get inflation. But a UBI doesn't require printing money.  It's just changing how the government spends it.  More detailed answer here: **

  %p ---Still seems like it'll never happen.

  %p Let's think about it a different way, then.  Here are two statistics about the future of employment:

  %p 1.  85 people control as much wealth as the poorest 50% of the world.
  2.  47% of the world's currently existing jobs are likely to be automated over the next 20 years.  Link to the Oxford study: http://www.oxfordmartin.ox.ac.uk/downloads/academic/The_Future_of_Employment.pdf Link to the Economist cover story: http://www.economist.com/news/leaders/21594298-effect-todays-technology-tomorrows-jobs-will-be-immenseand-no-country-ready?spc=scode&spv=xm&ah=9d7f7ab945510a56fa6d37c30b6f1709

  %p If that second statistic is even remotely true, that's scary. No government in the world is prepared for that level of unemployment. We already have record unemployment, and the pace at which technology replaces jobs is increasing. Manufacturing jobs have already mostly shifted to robots. Accountants are being replaced by Turbo Tax. Robotic telemarketers already exist and are virtually indestinguishable from the real thing: http://www.youtube.com/watch?v=TKWrWH0CapY.  What taxi companies will employ taxi drivers when robotic cars can do the same thing around the clock?  And it's not hard to imagine a future in which IBM's Watson gives better diagnoses than a human doctor.

  %p ---Well... this has happened before, and automation has always created more jobs than it's destroyed.

  %p This is a fair point, and there's a lot of discussion out there about this. I happen to agree with those who think that this cycle of automation is different from the **Industrial Revolution in the late 1800's and the **manufacturing boom of the mid 1900's.  The difference is that the jobs that are being replaced now aren't contained in one industry. http://www.nytimes.com/2013/06/14/opinion/krugman-sympathy-for-the-luddites.html?_r=1& **Summarize Krugman's article.

  %p Basic income is a good idea regardless of trends in automation.  But if you're at all concerned by the above, then it becomes a good idea that's urgent.  I hope that the next big social issue after gay marriage is basic income.  It's not a new idea.  Look to Nigeria, Alaska, Switzerland, and India, all of whom are considering a universal basic income.

http://www.reddit.com/r/BasicIncome/comments/1nzi9x/updated_basic_income_calculator_jsfiddle/
